@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
/* primary */
$ligth-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal:  hsl(166, 100%, 37%);
$Cobalt-blue:  hsl(234, 85%, 45%);
/* gradientes  */
$Lightslatebluebackground: hsl(252, 100%, 67%);
$Light-royal-blue-background: hsl(241, 81%, 54%);
$Violet-blue-circle:hsla(256, 72%, 46%, 1);
$Persian-blue-circle:hsla(241, 72%, 46%, 0);
/* Neutral */
$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);
//colores summary fields
$reaction-field-ligth-red: #fff6f5;
$memory-field-ligth-yellow: #fffbf2;
$verbal-field-ligth-green: #f2fbfa;
$visual-field-ligth-blue: #f3f3fd;
/* fonts and text styles */
$font-stack: "Hanken Grotesk", sans-serif;
$font-size-paragraphs: 1.8rem;
/* responsive */
$mobile-size: 375px;
$desktop-size:1440px;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    font-family: $font-stack;
}
//mixings inicio
@mixin iconsMixin($iconSrc){
    display: inline-block;
    width: 15px;
    height: 15px;
    align-items: center;
    background-image: url($iconSrc);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

@mixin summaryFieldMixin($bgColor){
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: $bgColor;
}




.header-container{
    color: $Pale-blue;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(46,43,233);
    background: linear-gradient(0deg, rgba(46,43,233,1) 0%, rgba(120,87,255,1) 100%); 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .result{
        opacity: 0.5;
    }
    .bottom-text{
        margin-bottom: 10px;
    }
    .numbers{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(78,33,202);
        width:100px;
        height: 100px;
        border-radius: 100%;

        background: linear-gradient(0deg, rgba(78,33,202,0.7260037804184174) 26%, rgba(9,15,36,1) 95%); 
        h1{
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 35px;
        }
        p{
            color: $Pale-blue;
            opacity: 0.5;
        }
    }
}

.summary-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    color: $Dark-gray-blue;
    
}

.summary-reaction{
    @include summaryFieldMixin($reaction-field-ligth-red);
}
.reaction-icon{
    @include iconsMixin("../assets/images/icon-reaction.svg");
  }



.summary-memory{
    @include summaryFieldMixin($memory-field-ligth-yellow);
}
.memory-icon{
    @include iconsMixin("../assets/images/icon-memory.svg");
}


.summary-verbal{
    @include summaryFieldMixin($memory-field-ligth-yellow);
}
.verbal-icon{
    @include iconsMixin("../assets/images/icon-verbal.svg");
}

.summary-visual{
    @include summaryFieldMixin($visual-field-ligth-blue);
}
.visual-icon{
    @include iconsMixin("../assets/images/icon-visual.svg");
}

.summary-button{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: $Dark-gray-blue;
    color: $White;
    cursor: pointer;
}





