@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* primary */
$ligth-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal:  hsl(166, 100%, 37%);
$Cobalt-blue:  hsl(234, 85%, 45%);
/* gradientes  */
$Lightslatebluebackground: hsl(252, 100%, 67%);
$Light-royal-blue-background: hsl(241, 81%, 54%);
$Violet-blue-circle:hsla(256, 72%, 46%, 1);
$Persian-blue-circle:hsla(241, 72%, 46%, 0);
/* Neutral */
$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);
/* fonts and text styles */
$font-stack: "Hanken Grotesk", sans-serif;
$font-size-paragraphs: 1.8rem;
/* responsive */
$mobile-size: 375px;
$desktop-size:1440px;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;

}
.header-container{
    display: grid;
}